<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/login.css">
    <title>Login</title>
</head>
<body>

    <header class="header-container">
        <h1>DigitalBank</h1>
        <a href="/register">Register</a>
    </header>

    <div class="login-form-container">
        <h2>Login</h2>
        <form action="/auth" method="POST">
            <div>
                <input type="text" name="email" placeholder="Email" required>
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <input class="submitBtn" type="submit" value="Log in">
        </form>
    </div>

    <div class="filler">
        <a href="/">Need help?</a>
        <a href="/">Forgot my password</a>
    </div>

    <div class="waves">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#002966" fill-opacity="1" d="M0,0L26.7,48C53.3,96,107,192,160,229.3C213.3,267,267,245,320,224C373.3,203,427,181,480,160C533.3,139,587,117,640,96C693.3,75,747,53,800,74.7C853.3,96,907,160,960,160C1013.3,160,1067,96,1120,58.7C1173.3,21,1227,11,1280,37.3C1333.3,64,1387,128,1413,160L1440,192L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path></svg>    
    </div>
</body>
</html>