<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/transfer.css">
    <title>Transfer Money</title>
</head>
<body>

    <header class="header-container">
        <h1>DigitalBank</h1>
        <a href="/login">Logout</a>
    </header>


    <% if (receiver) { %>
        <div class="receiver-container">
            <div>
                <h2>Enter the amount you want to send</h2>
            </div>

            <div class="form-inputs">
                <form action="/transactioncomplete" method="POST">
                    <input type="number" step=".01" name="quantity" class="receiverInput" id="quantity" placeholder="Quantity" autofocus>
                    <input type="hidden" name="receiverid" value="<%= receiverid %>">
                    <% if(typeof validations != 'undefined') { %>
                        <% validations.forEach((validation) => { %>
                            <% if(validation.param == 'quantity') {%>
                                <div class="error-message">
                                    <p><%= validation.msg %></p>
                                </div>
                            <% }%>
                        <% })%>
                    <% } %>
                    <input type="submit" class="sendBtn" id="sendBtn" value="Send">
                </form>
            </div>
        </div>

    <% } else { %>
        <div class="receiver-container">
            <div>
                <h2>Who do you want to transfer to?</h2>
            </div>

            <div class="form-inputs">
                <form action="/receiver" method="POST">
                    <p class="inputInfo">Enter the recipient's email</p>
                    <input type="text" class="receiverInput" name="receiver" id="receiver" placeholder="Receiver" autofocus>
                    <% if(typeof validations != 'undefined') { %>
                        <% validations.forEach((validation) => { %>
                            <% if(validation.param == 'receiver') {%>
                                <div class="error-message">
                                    <p><%= validation.msg %></p>
                                </div>
                            <% }%>
                        <% })%>
                    <% } %>
                    <% if(typeof receiverDoesNotExist !== 'undefined') { %>
                        <div class="error-message">
                            <p>That user does not exist</p>
                        </div>
                    <% } %>
                    <input type="submit" class="sendBtn" id="sendBtn" value="Next">
                </form>

            </div>
        </div>
    <% } %>
</body>
</html>