<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/userEdit.css">
    <title>My Profile</title>
</head>
<body>

    <header class="header-container">
        <h1>DigitalBank</h1>
        <h1>My Profile</h1>
        <a href="/login">Logout</a>
    </header>

    <div class="mid-page-wrapper">
        <form action="/editpasswordcomplete" method="POST">
            <p class="edit-title">Enter your desired password</p>
            <input id="password" name="password" class="emailInput" placeholder="New password" type="text">
            <% if(typeof validations != 'undefined') { %>
                <% validations.forEach((validation) => { %>
                    <% if(validation.param == 'password') {%>
                        <div class="error-message">
                            <p><%= validation.msg %></p>
                        </div>
                    <% }%>
                <% })%>
            <% } %>
        </form>
    </div>

</body>
</html>