/** ----------- Globals Section ----------- **/

html {
    box-sizing: border-box;
    overflow-x: hidden;
}
*, *:before, *:after {
box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: rgba(0,0,0,.1);
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

/** Images Section **/

img {
    height: 30px;
}

/** ----------- Header Section ----------- **/

.header-container {
    display: flex;
    justify-content: space-around;
    background-color: #002966;
    color: white;
    height: 100px;
    align-items: center;
}

.header-container a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: .3s ease-in-out;
}

.header-container a:hover {
    color: orange;
}

.links a:last-of-type {
    margin-left: 13px;
}

/** ----------- Main Section ----------- **/

.mid-page-wrapper {
    display: flex;
    justify-content: space-evenly;
}

/** Money Info Section **/

.info-money-container {
    display: flex;
    flex-direction: column;
    height: 245px;
    width: 300px;
    font-size: 24px;
    gap: 50px;
    text-align: center;
    background-color: white;
    border: 1px solid #fff;
    border-radius: 7.5px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.43);
}

.sendBtn {
    background-color: #002966;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

/** Transactions Section **/

.transactions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FFF;
    width: 600px;
    border: 1px solid #fff;
    border-radius: 7.5px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.43);
}

.transactions-header {
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.transactionsBtnDiv {
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.transactionsBtn {
    background-color: #002966;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.img-info-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 400px;
}

.sent-transaction, .received-transaction {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    border-bottom: 1px solid #d9d9d9;
    padding: 20px 0px 30px 0px;
}

.quantityamount-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.quantityamount-container p {
    font-weight: bold;
}

.date {
    text-align: right;
    color: grey;
    font-size: 13px;
}