/** ----------- Globals ----------- **/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

/** ----------- Images Globals ----------- **/

img {
    height: 30px;
}

/** ----------- Header Container ----------- **/

.header-container {
    display: flex;
    justify-content: space-around;
    background-color: #002966;
    color: white;
    height: 70px;
    text-align: center;
    align-items: center;
}

.header-container h1 {
    margin: 0;
    padding: 0;
}

.header-container a {
    color: white;
    text-decoration: none;
}

.header-container a:hover {
    color: orange;
}

.header-container a {
    font-size: 20px;
}

/** ----------- Main Container ----------- **/

.main-container {
    background-color: #001433;
    height: 280px;
}

/** ----------- User Info Container ----------- **/

.user-info-container {
    color: white;
    text-align: center;
    position: relative;
    top: 14%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-name {
    display: flex;
    flex-direction: column;
}

.money-container {
    gap: 10px;
}

.sendBtn {
    color: #001433;
    background-color: white;
    width: 150px;
    margin: 0 auto;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bolder;
    transition: .3s ease-in-out;
    font-size: 20px;
}

.sendBtn:hover {
    cursor: pointer;
    background-color: #002966;
    color: white;
}

/** ----------- Transactions Container ----------- **/

.transactions-container {
    width: 300px;
    margin: 20px auto;
}

.transactions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sent-transaction, .received-transaction {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 295px;
    height: 30px;
}

span {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}