/** ----------- Globals ----------- **/

html {
    box-sizing: border-box;
    overflow-x: hidden;
}
*, *:before, *:after {
box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

img {
    min-width: 100%;
}

/** ----------- Header ----------- **/

.header-container {
    display: flex;
    justify-content: space-around;
    background-color: #002966;
    color: white;
    height: 100px;
    text-align: center;
    align-items: center;
}

.header-container a {
    color: white;
    text-decoration: none;
}

.header-container a:hover {
    color: orange;
}

.header-container a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: .3s ease-in-out;
}

.header-container a:hover {
    color: orange;
}

/** ----------- Registration Form ----------- **/

.register-form-container {
    text-align: center;
    margin-top: 60px;
}

form {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    width: 100%;
    padding: 20px 30px 20px 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    font-weight: bold;
    margin-bottom: 8px;
}

form input:focus {
    outline: none;
}

.submitBtn {
    border-radius: 50px;
    margin: 0 20px;
    font-size: 25px;
    background-color: #002966;
    color: white;
    width: auto;
}

.submitBtn:hover {
    cursor: pointer;
}

/** ----------- Registration Form Error Messages ----------- **/

.not-valid-input {
    border: 1px solid red;
}

.valid-input {
    border: 1px solid green;
}

.errors-container {
    width: 425px;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.error-message {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: darkred;
    width: 500px;
    height: 50px;
}

.hidden {
    display: none;
}

/** ----------- Filler ----------- **/

.filler {
    text-align: center;
    margin: 20px auto;
    width: 200px;
}

.filler a {
    color: #002966;
    text-decoration: none;
    font-size: 25px;
}